* {
    font-family: arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}